extends layout

block content
  header
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="#") SpiderCake

          form.navbar-search.pull-left(action="https://duckduckgo.com/")
            input.search-query(
              type="text",
              name="q",
              placeholder="Search DuckDuckGo")


  #main(role="main")
    #container-fluid
      #row-fluid
        #leftcol.span2.cell
          include links
        #centercol.span5.cell
          p YES VERY WELCOME!!
        #rightcol.span5.cell
          p VERY VERY VERY WELCOME
  footer
        
