extends layout

block content
  header
    //h1= title
  div#main(role="main")
    div#container-fluid
      div#row-fluid
        div#leftcol.span4
          p Welcome to #{title}
        div#centercol.span4
          p YES VERY WELCOME!!
        div#rightcol.span4
  footer
        
