body {
  background: #EEE;
  padding-top: 40px;
}
.cell {
  background: #CCC;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 10px;
}
.link {
  display: block;
  width: 100%;
  text-align: left;
}
